*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 1rem; */
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
}

.section__home{
    background-image: url(./components/images/Background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    height: 100%; */
    /* object-fit: contain; */
}

.navbar__container{
    position: absolute;
    margin-top: 20px;
    width: 100%;
}

.navbar__logo-container{
    width: 500px;
    height: auto;
}

.logo{
    margin-left: 20px;
    max-width: 400px;
    height: auto;
}

.navbar__list{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.navbar__list-container{
    margin-left: auto;
    display: flex;
    flex-direction: row; 
    list-style: none;
    align-items: center;
}

.navbar__list-item{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: #293646;
}

.button{
    font-size: 1rem;
    padding: 0.6em 1em 0.6em 1em;
    background-color: #9B1A1D;
    color: #fff;
    border: none;
}

.navbar__list-button{
    margin-right: 20px;
    margin-left: 25px;
}

.section__home-body--container{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    margin-top: 18vh;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    height: auto;
}

.section__home-body--text--wrapper{
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.5em 1.5em 1.5em 1.5em;
    /* backdrop-filter: blur(4px); */
    /* box-shadow: -5px 8px 0px gray; */
}

.section__home-body--text{
    font-size: 2.5rem;
    color: #293646; 
}

.section__home-body--text2{
    font-size: 3.5rem;
    color: #293646;
    padding-top: 0.4em;
    padding-left: 2.4em;
}

.property-selector__container{
    width: 600px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.5);
}

.property-selector{
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.selection-button__container{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 20px 50px 0 50px;
}

.selection-button{
    font-size: 1rem;
    padding: 0.6em 1em 0.6em 1em;
    color: #293646;
    border: none;
    background-color: #FFCC00;
    width: 150px;
}

@media screen and (max-width: 1750px){
    .logo{
        width: 200px;
    }

    .navbar__container{
        background-color: aqua;
    }

    .navbar__list-item{
        font-size: 0.8rem;
        margin-left: 1em;
        margin-right: 1em;
    }

    .section__home-body--text--wrapper{
        padding: 1em 1em 1em 1em;
    }

    .section__home-body--text{
        font-size: 1.5rem;
    }
    
    .section__home-body--text2{
        font-size: 2rem;
    }

    .property-selector__container{
        width: 600px;
        height: 300px;
        background-color: #fff;
    }
}

.about{
    background-color: blanchedalmond;
}

.featured{
    background-color: cadetblue;
}